
<div id="nav" class="exposed">
  <div class="container">
    
    <form role="form" method="post" id="nav_waitlist_form" data-parsley-validate="" class="collapsed nav-form" action="/join_waitlist/" novalidate="">
      <input type="hidden" value="6mVCSICBekkVvQK4l1gFbjPFti2wDxmH" name="csrfmiddlewaretoken">
      <div id="nav_email_group" class="form-group">
        <label for="join_waitlist_email" class="sr-only">Email address</label>
        <input type="email" placeholder="Enter email address" name="email" id="nav_email_input" data-parsley-type="email" data-parsley-trigger="change" data-parsley-required="true" data-parsley-error-message="!" class="form-control input-lg waitlist-email" data-parsley-id="4360"><ul class="parsley-errors-list" id="parsley-id-4360"></ul>
      </div>
      <button type="submit" id="nav_waitlist_button" class="btn btn-lg btn-default nav-button">下載產品目錄</button>
    </form>
    <a id="nav_icon" href="/">
      <img data-at2x="https://brokerage-static.s3.amazonaws.com/assets/marketing/images/nav_icon%402x.png" src="https://brokerage-static.s3.amazonaws.com/assets/marketing/images/nav_icon.png" alt="Robinhood logo">
    </a>
  </div>
</div>
